

<div id="topo"> 

    <button id="pesquisa"> <img src="~/img/lupa.png"  width="25px" height="auto"/>        Selecione sua praia</button>
    <img id="logo" src="img/logo.png" width="270px" height="50px" />
</div>

    <img id="mapa" src="img/mapa1.png" / >
     
  

<div id="opcoes">


    <button class="escolha"><a class="navbar-brand" asp-area="botao" asp-controller="Home" asp-action="descricao"><img src="~/img/cruz-vermelha.png" width="20px" height="auto" />    Farmacia</a></button>
     <button class="escolha"><img src="~/img/chuveiro.png" width="20px" height="auto" />    Chuveiros</button>
    <button class="escolha"><img src="~/img/carrinho-de-compras.png" width="20px" height="auto" />    Mercados</button>
    <button class="escolha"><img src="~/img/casas-de-banho.png" width="20px" height="auto" />    Banheiros</button>
    <button class="escolha"><img src="~/img/carros.png" width="20px" height="auto" />    Estacionamentos</button>
    <button class="escolha"> <img src="~/img/restaurante.png" width="20px" height="auto" />    Restaurantes</button>

</div>
