
<div id="topo">
    <button id="pesquisa"> <img src="~/img/lupa.png" width="25px" height="auto" />      Guaruja, SP</button>
   <a class="navbar-brand" asp-area="" asp-controller="home" asp-action="index">
        <img id="logo" src="~/img/logo.png" width="270px" height="50px" />
    </a>
</div>

<div id="main">
    <img id ="mapa2" src="~/img/mapa2.png" />
    <div id="descricao">

        <p>
            Drogasil - Guarujá
        </p>

        <hr />

        <ul>
            <li>  <img src="~/img/local.png" width="18px" height="auto" />  Rua , São Paulo- SP xxxxxxxxx </li>
            <li> <img src="~/img/relogio (1).png" width="15px" height="auto" />  Horário de funcionamento </li>
               <ul>
                <li>segunda-feira  07:00 - 22:00</li>
                <li>
                    terça-feira  07:00 - 22:00</li>
                <li>
                    quarta-feira  07:00 - 22:00



                </li>
                <li>
                    quinta-feira  07:00 - 22:00



                </li>
                <li>
                    sexta-feira  07:00 - 22:00



                </li>
                <li>
                    sábado  07:00 - 22:00



                </li>
                <li>
                    domingo  09:00 - 16:00



                </li>

               </ul>
            <li><img src="~/img/telefone (2).png" width="15px" height="auto" />  xxxxx-xxxx</li>
            <br /><br />
            <li><a href="https://www.google.com.br/maps/preview">Rotas: GoogleMaps</a></li>

        </ul>
    </div>
</div>